<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 Web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net configSource="Log4Net.Release.config" xdt:Transform="Replace" />
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
